div.estation-chart {
    height: 300px;
}

.estation-data-card tr{
    background-color: initial !important;
    pointer-events: none !important;
    text-align: center;
}

.estation-data-card table th {
    background-color: transparent  !important;
}

.lightTheme .estation-data-card table th {
    background-color: #73b920 !important;
}

.estation-data-card table {
    background-color: transparent  !important;
}

.estation-data-card table.table-header-rotated tbody tr td:nth-child(1), 
.estation-data-card table.table-header-rotated tfoot tr th:nth-child(1){
    display: none;
}

.estation-card-title {
    border-bottom: 1px solid #36577c;
    padding-bottom: 0.5em;
}